body {
    background-color: #000;
    color: #0f0; /* Vert */
    font-family: 'Courier New', Courier, monospace; /* Typographie monospace */
}

#chat-window {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #0f0;
    border-radius: 5px;
}

#messages {
    list-style-type: none;
    padding: 0;
}

#messages li {
    margin-bottom: 10px;
}

#message-input {
    width: 70%;
    padding: 5px;
    background-color: #0f0; /* Vert */
    color: #000; /* Noir */
    border: 1px solid #0f0;
    border-radius: 5px;
}

#send-button {
    padding: 5px 10px;
    background-color: #0f0; /* Vert */
    color: #000; /* Noir */
    border: 1px solid #0f0;
    border-radius: 5px;
}

#message-container {
    width: 100%;
    height: 300px; /* Hauteur du conteneur de messages */
    overflow-y: scroll; /* Ajoute une barre de défilement verticale si nécessaire */
    background-color: #222; /* Couleur de fond du conteneur de messages */
    padding: 10px;
    border: 1px solid #0f0;
    border-radius: 5px;
}

.message {
    margin-bottom: 10px;
    font-size: 14px;
}
